body {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #283136;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.container {
    position: relative;
    width: 1160px;
    margin: 0 auto;
    padding: 0 0px;
}

.button {
    display: inline-block;
    padding: 16px 54px;


    font: inherit;
    font-weight: 500;
    line-height: 18px;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    color: #f8f8f8;

    background-color: #fb565a;

    border: none;
    border-radius: 4px;
    cursor: pointer;

    -webkit-transition: 0.4s;

    transition: 0.4s;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.visually-hidden {
    display: none;
}

/* HEADER */

.main-header {
  background-color: #eeeeee;
  width: auto;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header .main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 49px;
}

.main-header .header-logo {
    width: 160px;
    height: 65px;

    -webkit-transition: 0.4s;

    transition: 0.4s;
}

.main-header ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

a[href].header-logo:hover,
a[href].header-logo:focus {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

a[href].header-logo:active {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

ul.site-navigation,
ul.user-navigation {
    padding-top: 26px;
    padding-bottom: 26px;
}

ul.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 840px;
}

ul.user-navigation {
    max-width: 180px;
    margin-left: auto;

    text-align: right;
}

.site-navigation li,
.user-navigation li {
    position: relative;
}

.site-navigation a,
.user-navigation a {
    display: block;

    font-weight: 500;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;

    -webkit-transition: 0.4s;

    transition: 0.4s;
}

.site-navigation a.current:after,
.user-navigation a.current:after {
  content: "";
  position: absolute;
  right: 23px;
  top: 33px;
  left: 23px;

  height: 2px;

  background-color: #fb565a;
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus,
.user-navigation a[href]:hover,
.user-navigation a[href]:focus {
  color: #fb565a;
}

.site-navigation a[href]:active,
.user-navigation a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}


.site-navigation a {
    padding: 0 23px;
}

.user-navigation a {
    position: relative;
    padding-left: 40px;
}

.user-navigation a:before{
    content: "";
    position: absolute;
    top: 7px;
    left: 0;

    background-image: url("../img/cart-icon.png");
    width: 15px;
    height: 15px;
}

/* HEADER-slider-start */

.slider .slider-item:nth-child(1) {
    background-image: url("../img/slider1.png");
    width: 1160px;
    height: 413px;
}

.slider .slider-item:nth-child(2) {
    padding-bottom: 82px;

    background-image: url("../img/slider2.png");
    width: 1160px;
    height: 430px;
}

.slider .slider-item:nth-child(3) {
    background-image: url("../img/slider3.png");
    width: 1160px;
    height: 430px;
}

.slider-description {
    width: 560px;
}

.slider-description h2 {
    margin: 0;
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 12px;

    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}

.slider-description p {
    margin-bottom: 38px;
    padding-right: 60px;
}

.slider-controls {
    position: absolute;
    bottom: 89px;
    left: calc(50% - 42px);
}

.slider-controls button {
    position: relative;  
    width: 18px;
    height: 18px;
    margin-right: 12px;

    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
}

.slider-controls button.current:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;

    width: 4px;
    height: 4px;

    border: 2px solid #000000;
    border-radius: 50%;
}

/* HEADER-slider-end */

/* HEADER - END  */

/* MAIN - START */

.services {
    padding-top: 80px;
    padding-bottom: 80px;


    border-bottom: 2px solid #eeeeee;
}

/*.services ul{
    padding-right: 60px;

    border-bottom: 2px solid #eeeeee;
}*/

.services .services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding-inline-start: 0px;

    list-style: none;
}

.services-item {
    width: 300px;
    /* margin-right: 6px; */
    /*margin-left: 20px;
    margin-right: 30px;*/
}

.services-item img {
    display: block;
    width: 300px;
    height: 146px;
}

.services-item h3 {
    margin: 0;
    margin-top: 23px;
    margin-bottom: 17px;
    
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.services-item p {
    margin-bottom: 33px;
    padding-right: 20px;
}

.services-item .button {
    padding: 16px 40px;
    /*margin-right: 6px;*/
}

.services-item:nth-child(2) .button {
    background-color: #00ca74;

    -webkit-transition: 0.4s;

    transition: 0.4s;
}

.services-item:nth-child(2) .button:hover,
.services-item:nth-child(2) .button:focus {
  background-color: #00bc6c;
}

.services-item:nth-child(2) .button:active {
  background-color: #00aa62;
}

.services-item:nth-child(3) .button {
    background-color: #efc84a;

    -webkit-transition: 0.4s;

    transition: 0.4s;
}

.services-item:nth-child(3) .button:hover,
.services-item:nth-child(3) .button:focus {
  background-color: #eab534;
}

.services-item:nth-child(3) .button:active {
  background-color: #e5a722;
}

.about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 30px;

    border-bottom: 2px solid #eeeeee;
}

.about-us .column-left {
    width: 660px;
    padding-top: 30px;
}

.about-us .column-right {
    width: 360px;
    padding-top: 26px;
}

.about-us-text .title {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
    text-transform: none;
}

.about-us-text p:first-of-type {
    margin-top: 32px;
}

.about-us-text p:last-of-type {
    margin-top: 33px;
    margin-bottom: 24px;
}

.about-us-text h1 {
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.1px;
}

.about-us-text h3 {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.1px;

    margin-top: 39px;
    margin-bottom: 26px;
}

.about-us-text .about-us-list {
    margin-top: 15px;
    margin-bottom: 40px;
    padding: 0;

    list-style: none;
}

.about-us-list li {
    position: relative;

    margin-bottom: 24px;
    padding-left: 36px;
}

.about-us-list li:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;

    width: 25px;
    height: 3px;

    background-color: #eeeeee;
}

.about-us-info img {
    display: block;
    width: 360px;
    height: 208px;
}

.about-us-table {
    margin-top: 36px;
}

.about-us-table caption {
    margin-bottom: 21px;
    margin-left: 1px;

    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

.about-us-table thead {
    display: table-footer-group;

    text-align: left;
}

.about-us-table th {
    font-weight: normal;
    line-height: 18px;
    font-size: 16px;
    text-align: left;

    padding-top: 18px;
    margin-right: 80px;
    padding-right: 10px;
}

.about-us-table tbody {
    font-weight: bold;
    font-size: 10px;
    line-height: 45px;
    color: #000000;
}

.about-us-table td {
    padding-top: 18px;
    margin-right: 80px;
    padding-right: 5px;
    width: 35%;
    font-size: 45px;
}

.about-us-table sup {
    font-size: 25px;
}



.partners {
    padding-bottom: 81px;
}

.partners .partners-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 48px;
    padding-bottom: 36px;

    list-style: none;

    border-bottom: 2px solid #eeeeee;
}

.partners-list li {
    position: relative;

    margin-bottom: 24px;
    padding-right: 5px;
}

.partners-list li:nth-child(2):after {       
    content: "";
    position: absolute;

    top: 16px;
    left: -19px;

    margin-bottom: 24px;

    width: 2px;
    height: 52px;

    background-color: #cac7c7;
}

.partners-list li:nth-child(3):after {      
    content: "";
    position: absolute;
    
    bottom: 3px;
    left: -19px;

    width: 2px;
    height: 52px;

    background-color: #cac7c7;
}

.partners-list li:nth-child(4):after {      
    content: "";
    position: absolute;

    top: 15px;
    left: -19px;

    width: 2px;
    height: 52px;

    background-color:  #cac7c7;;
}

.partners-list .partners-list-item {
    width: 260px;
}

.partners-list-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    height: 100%;
    align-items: center;
    justify-content: center;

    opacity: 0.3;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

    -webkit-transition: 0.5s;

    transition: 0.5s;
}

.partners-list-item a:hover,
.partners-list-item a:focus {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.partners-list-item a:active {
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.partners-list-item img {
    width: auto;
}

.contacts {
    position: relative;
    height: 416px;
    padding-bottom: 67px;
    width: auto;

    overflow: hidden;
}

.contacts iframe {
    position: relative;
    z-index: 1;
  
    width: 100%;
    height: 416px;
  
    border: none;
}

.contacts-info {
    position: absolute;
    top: 39px;
    z-index: 2;

    width: 220px;
    /*padding: 45px 55px 45px 45px;  */

    padding: 45px 55px 40px 45px;

    background-color: #ffffff;
}

.contacts-info h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;

    margin-top: 1px;
    margin-left: 5px;
}

.contacts-info-text {

    line-height: 18px;
    color: #666666;

    margin-top: 22px;
    padding-left: 7px; 
}

p.contacts-info-text  {

    line-height: 18px;
    color: #666666;

    margin-top: 22px;
    padding-left: 5px; 

}

.contacts-info-text a {

    line-height: 18px;
    color: #666666;

    margin-bottom: 13px;
}


.contacts-info .write-us {
    margin-top: 23px;
    padding: 16px 44px;
}

/*  MAIN - END    */

/*  CATALOG - START  */

.page-title {
    background-color: #eeeeee;
}

.page-title h1 {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 109px;

    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    color: #000000;
}

main.inner-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 72px;
}

.filter {
    width: 260px;
}

.filter-form p {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.filter-form ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.price-filter {
    margin-bottom: 38px;
}

.price-filter p {
    margin-bottom: 50px;
}

.price-filter .range-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;

    background-color: #eeeeee;
    border-radius: 4px;

}

.range-control .progress {
    width: 219px;
    height: 2px;

    background-color: #d7dcde;
}

.range-control .current-progress {
    position: relative;

    width: 160px;
    height: 2px;

    background-color: #00ca74;
}

.progress-button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: -9px;
}

.current-progress .progress-button-wrapper:last-child {
    left: 140px;
}

.progress button {
    position: relative;

    width: 20px;
    height: 20px;

    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.progress button:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;

    width: 4px;
    height: 4px;

    background-color: #ababab;
    border-radius: 50%;
}

.price-filter .range-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.price-filter label {
    line-height: 22px;
    text-transform: uppercase;
}

.price-filter input {
    padding: 7px 0;

    background-color: #eeeeee;
    border: none;
    border-radius: 4px;
}

.price-filter input[value] {
    width: 80px;
    margin-left: 8px;

    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #283136;

    cursor: pointer;
}

fieldset.grid-filter {
    padding-bottom: 24px;

    -webkit-transition: 2.4s;

    transition: 2.4s;
}

fieldset.features-filter {
    padding-bottom: 26px;

}

.grid-filter li,
.features-filter li {
    position: relative;

    padding-bottom: 21px;
    padding-left: 37px;

    cursor: pointer;
}

.grid-filter li:hover,
.features-filter li:hover {
  color: #000000;
}

.grid-filter input:disabled,
.features-filter input:disabled {
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.grid-filter legend,
.features-filter legend {
  padding-bottom: 14px;
}

.grid-list label,
.features-list label {
  display: block;

  line-height: 20px;

  cursor: pointer;
}

.filter-input:not(:disabled):hover + label:before,
.filter-input:not(:disabled):hover + label:after,
.filter-input:not(:disabled):focus + label:before,
.filter-input:not(:disabled):focus + label:after {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


.filter-input + label:before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;

    background-repeat: no-repeat;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";

}

.filter-input:checked + label:before {
    display: none;
}

.filter-input:checked + label:after {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;

    background-repeat: no-repeat;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.filter-input:disabled + label {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.filter-input-radio + label:before {
    width: 25px;
    height: 25px;

    background-image: url("../img/radio-off.svg");
}

.filter-input-radio:checked + label:after {
    width: 25px;
    height: 25px;

    background-image: url("../img/radio-on.svg");
}

.filter-input-checkbox + label:before {
    width: 26px;
    height: 23px;

    background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:checked + label:after {
    width: 26px;
    height: 23px;

    background-image: url("../img/checkbox-on.svg");
}

.filter-form .button {
    width: 100%;

    margin-top: 26px;
    color: #000000;
    background-color: #eeeeee;
}

.filter-form .button:hover,
.filter-form .button:focus {
  background-color: #dfdfdf;
}

.filter-form .button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

.catalog {
    width: 760px;
}

.catalog-sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 36px;
}

.catalog-sorting h3 {
    width: 400px;

    font-weight: bold;
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;

    padding-top: 1px;
}

.catalog-sorting ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

ul.type-sorting-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    margin-left: auto;
}

.type-sorting-list li {
    margin: 20px 25px 0px 0px;
}

.type-sorting-list a {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;

    opacity: 0.3;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

}

.type-sorting-list a:hover,
.type-sorting-list a:focus {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.type-sorting-list a:active, 
.type-sorting-list a.type-current{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.direction-sorting-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60px;
}

.direction-sorting-list li {
    padding-left: 10px;
}

.direction-sorting-list a {
    display: block;

    border-right: 5.5px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, 0.2);
    border-left: 5.5px solid transparent;
}

.direction-sorting-list a[href]:hover,
.direction-sorting-list a[href]:focus {
  border-bottom-color: #a6a6a6;
}

.direction-sorting-list a[href]:active {
  border-bottom-color: #000000;
}

.direction-sorting-list .rotation-down {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}



.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-bottom: 41px;
  
    list-style: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    overflow: hidden;
}
  
.catalog-list .catalog-item {
    position: relative;
  
    width: 360px;
    margin-bottom: 26px;
}
  
.catalog-list .catalog-item::before {
    content: "";
    position: absolute;
  
    width: 360px;
    height: 40px;
  
    background-image: url("../img/browser.svg");
    background-repeat: no-repeat;
}
  
.catalog-item:hover::before {
    background-image: url("../img/browser-hover.svg");
}
  
.catalog-item img {
    width: 360px;
    height: 576px;
    padding-top: 40px;
}
  
.catalog-item-description {
    position: absolute;
    bottom: 0;
  
    display: none;
    width: 100%;
    min-height: 231px;
  
    background-color: #eeeeee;
}
  
.catalog-item:hover {
    -webkit-box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
            box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}
  
.catalog-item:hover .catalog-item-description {
    display: block;
}
  
.description-container {
    padding: 0 60px;
    text-align: center;
    overflow: hidden;
	text-overflow: ellipsis;
}
  
.catalog-item-description h3 {
    margin: 0;
    margin-top: 27px;
  
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.catalog-item-description p {
    margin-bottom: 29px;
    line-height: 18px;
    text-align: center;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 90px;
}
  
.catalog-item-description .button {
    padding: 16px 60px;
    margin-bottom: 43px;
}
  
.catalog-item-description .button:active {
    color: #ffffff;
}
  

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.pagination-list a {
    padding: 15px 21px;

    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;

    background-color: #eeeeee;
    border-radius: 4px;

    -webkit-transition: 0.6s;

    transition: 0.6s; 
}

.pagination-list li {
    margin-right: 10px;
}

.pagination-list .current {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 3px #dbdbdb;
}
  
.pagination-list a[href]:hover,
.pagination-list a[href]:focus {
    background-color: #dfdfdf;
}
  
.pagination-list a[href]:active {
    color: rgba(0, 0, 0, 0.3);
  
    background-color: #d5d5d5;
}


.pagination-item .next-page {
    padding: 15px 78px;
}

/*  CATALOG - END */

/*  FOOTER    */

.contacts-catalog {
    position: relative;
    height: 416px;
    padding-bottom: 67px;
    width: auto;

    overflow: hidden;
}

.contacts-catalog iframe {
    position: relative;
    z-index: 1;
  
    width: 100%;
    height: 416px;
  
    border: none;
}

.contacts-info-catalog {
    position: absolute;
    top: 55px;

    z-index: 2;

    width: 220px;

    padding: 49px 55px 40px 45px;

    background-color: #ffffff;
}

.contacts-info-catalog h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;

    margin-top: 1px;
    margin-left: 5px;
}

.contacts-info-text-catalog {
    line-height: 18px;
    color: #666666;

    margin-top: 22px;
    padding-left: 7px; 
    padding-bottom: -2px;
}

.contacts-info-text-catalog a {
    line-height: 18px;
    color: #666666;

    margin-bottom: 13px;
}

.contacts-info-catalog .write-us {
    margin-top: 23px;
    padding: 16px 44px;
}

.social {
  padding-bottom: 90px;
}

.social .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list li {
  margin-right: 12px;
}

.social-list .social-button-vk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 80px;
  height: 80px;
  border-radius: 50%;

  background:  url("../img/vk-icon.png") #e1e1e1 no-repeat;
  background-position: center;

  -webkit-transition: 0.6s;

  transition: 0.6s; 
}

.social-list .social-button-fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 80px;
  height: 80px;
  border-radius: 50%;

  background:  url("../img/fb-icon.png") #e1e1e1 no-repeat;
  background-position: center;

  -webkit-transition: 0.6s;

  transition: 0.6s; 
}

.social-list .social-button-insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 80px;
  height: 80px;
  border-radius: 50%;

  background:  url("../img/it-icon.png") #e1e1e1 no-repeat;
  background-position: center;

  -webkit-transition: 0.6s;

  transition: 0.6s;
}

.social .social-text {
  width: 760px;
  padding-top: 8px;
}

.social-button-vk:hover,
.social-button-vk:focus,
.social-button-fb:hover,
.social-button-fb:focus,
.social-button-insta:hover,
.social-button-insta:focus {
  background-color: #e74246;
}

.social-button-vk:active,
.social-button-fb:active,
.social-button-insta:active {
    box-shadow: inset 0 0 180px 0px rgb(158, 63, 63);
 
    background-color: #d7373b;

    position: relative;
    z-index: -2;
}

.social-text h2 {
  margin-top: 5px;
  margin-bottom: 12px;
  font-size: 36px;
}

.social-text p {
  color: #444444;
}

/*  FOOTER-END  */

/*  FOOTER-END  */

/*  MODAL WINDOW - SEND MESSAGE - START  */

.modal {
    display: none;
}

.modal-show {
    display: block;
  }

.modal-contacts {
    position: fixed;

    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translateY(-292px);


    width: 760px;

    margin-left: -480px;
    
    padding: 68px 100px 85px 100px;

    background: #ffffff;
    box-shadow:  0 0 50px 0 rgba(29, 27, 27, 0.5);
}

.modal-contacts-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.modal-contacts-row p {
    width: 360px;
}

.modal-contacts h2 {
    margin: 0;
    margin-bottom: 22px;

    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

.modal-close {
    position: absolute;
    top: 77px;
    right: 87px;

    width: 27px;
    height: 27px;
    padding: 0;

    background: none;
    border: none;
    cursor: pointer;
    
    opacity: 0.3;
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.modal-close:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
  
  .modal-close:active {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.modal-close:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;

    width: 27px;
    height: 5px;

    background-color: #fb565a;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal-close:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;

    width: 27px;
    height: 5px;

    background-color: #fb565a;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.contacts-form {
    position: relative;
}

.contacts-form label {
    font-weight: bold;
    line-height: 18px;
    color: #000000;
}

.contacts-form input,
.contacts-form textarea {
    width: 100%;
    margin-top: 6px;
    padding: 13px;

    line-height: 18px;

    border: 2px solid #d7dcde;
    border-radius: 4px;
}

.contacts-form input::-webkit-input-placeholder,
.contacts-form textarea::-webkit-input-placeholder {
  color: #444444;

  opacity: 0.5;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.contacts-form input::-moz-placeholder,
.contacts-form textarea::-moz-placeholder {
  color: #444444;

  opacity: 0.5;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.contacts-form input:-ms-input-placeholder,
.contacts-form textarea:-ms-input-placeholder {
  color: #444444;

  opacity: 0.5;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.contacts-form input::placeholder,
.contacts-form textarea::placeholder {
  color: #444444;

  opacity: 0.5;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.contacts-form input:hover,
.contacts-form textarea:hover {
  border-color: #b4b9bb;
}

.contacts-form input:focus,
.contacts-form textarea:focus {
  border-color: #000000;
}

.contacts-form input:focus,
.contacts-form textarea:focus {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.contacts-form input:focus,
.contacts-form textarea:focus {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.contacts-form input:focus,
.contacts-form textarea:focus {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.contacts-form input:focus::-webkit-input-placeholder,
.contacts-form textarea:focus::-webkit-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.contacts-form input:focus::-moz-placeholder,
.contacts-form textarea:focus::-moz-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.contacts-form input:focus:-ms-input-placeholder,
.contacts-form textarea:focus:-ms-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.contacts-form input:focus::placeholder,
.contacts-form textarea:focus::placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.contacts-form input:invalid {
  color: #e74246;

  border-color: #e74246;
}

.contacts-form textarea {
    min-height: 119px;
    margin-bottom: 24px;
}

.contacts-form .button {
    padding: 16px 84px;
}

/*  MODAL WINDOW - SEND MESSAGE - END */
	